<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

  <title>Patient</title>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
              class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  th:href="@{/index}">Home</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
        <li sec:authorize="isAuthenticated()" ><a th:href="@{/doctor}">For Doctors</a></li>
        <li sec:authorize="isAuthenticated()"  ><a th:href="@{/pharmacist}">For pharmacist</a></li>
        <li sec:authorize="isAuthenticated()" ><a th:href="@{/patient}">For patients</a></li>

        <li sec:authorize="isAuthenticated()"><a th:href="@{/doctor/create-prescription}">Add a Prescription to a patient</a></li>

      </ul>
    </div>
  </div>
</nav>

<br>
<br>
<div class="container">
  <h1>Patient</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Identification Number</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      <tr >
        <td th:text="${user.id}"></td>
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.identificationNumber}"></td>
        <td th:text="${user.email}"></td>
      </tr>
      </tbody>
    </table>

  <br>
  <br>

  <h2>Your All Prescriptions </h2>
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Drug Name</th>
      <th>User Name</th>
      <th>Actions</th> <!-- New column for actions -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="prescription : ${prescriptions}">
      <td th:text="${prescription.id}"></td>
      <td th:text="${prescription.date}"></td>
      <td th:text="${prescription.drug.name}"></td>
      <td th:text="${prescription.user.firstName} + ' ' + ${prescription.user.lastName}"></td>
      <td>
        <!--        <a th:href="@{/pharmacist/edit/{id}(id=${prescription.id})}">Edit</a>-->
        <a th:href="@{/pharmacist/delete/{id}(id=${prescription.id})}">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>

  <p>
    Welcome <span sec:authentication="principal.username">Patient</span>
  </p>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>

</html>